.image {
  border: 1px solid gray;
  padding: 10px;
  box-shadow: 0 0 10px gray;
}
.para {
  width: 150px;
  margin-top: 1rem;
}

@media (min-width: 1024px) {
  .image {
    width: 250px;
    height: 250px;
  }
  .para {
    width: 250px;
  }
}

.formItem {
  border-radius: 5%;
}
@media (max-width: 767px) {
  .formItem {
    margin-bottom: 1rem;
  }
}

.myBtn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
  cursor: pointer;
  margin: 1rem;
  border-radius: 2%;
  width: auto;
  height: auto;
}

.priceCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.priceCard {
  border: 1px solid gray;
  padding: 0;
  box-shadow: 0 0 10px gray;
  height: 300px;
  width: 250px;
}
.priceCardTop {
  background-color: rgb(228, 227, 227);
  padding: 8px 0;
  border-radius: 5%;
}
.priceCardTitle {
  margin-top: 1rem;
}
.priceCardList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.footer {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
