.image {
  border: 1px solid gray;
  padding: 10px;
  box-shadow: 0 0 10px gray;
}
.para {
  width: 150px;
  margin-top: 1rem;
}

@media (min-width: 1024px) {
  .image {
    width: 250px;
    height: 250px;
  }
  .para {
    width: 250px;
  }
}

.borderRadius {
  border-radius: 5%;
}

.myBtn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
  cursor: pointer;
  margin: 1rem;
  border-radius: 2%;
  width: auto;
  height: auto;
}
